html, body{
  margin-left: 5%;
  margin-right: 0%;
  padding: 0px;
  min-height: 100%;
  background-color: black;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homelinks{
  display: inline-block;
  position: absolute;
  left: 10%;
  top: 50%;
  width: 70%;
  z-index: 1;
}
.homelinks a{
  margin: 1%;
}

.homelinks a img:hover{
  transform: scale(1.2);
}

.homelinks a img{
  width: 10%;
  margin: 5px;
  transition: 1s ease;
  border-radius: 50%;
}

.pic{
  display: inline-block;
  position: absolute;
  right: 0%;
  top: 8%;
  width: 50%;
  overflow: hidden;
}

.pic img{
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s ease;
}

.pic img:hover{
  transform: scale(1.1);
}


.home .homegreeting{
  color: white;
  display: inline-block;
  position: absolute;
  left: 10%;
  top: 20%;
  width: 60%;
  z-index: 1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4rem;
}

.homegreeting .fullname{
  transition: 1s ease;
}
.homegreeting .fullname:hover{
  text-shadow: 10px 10px 100px white;
}

.workexp .header{
  text-align: center;
  color: white;
  font-size: 3rem;
}